@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
  padding:10px;
  background-color: #E9EAEE;
}

h1 {
	text-align: center;
	color: green;
}

a {
	margin-left: 45px;
	margin-right: 45px;
}

span {
	margin-left: 45px;
}

#toTop {
	bottom:40px;
	position: fixed;
}

#forTrack {
	margin-left: 100px;
}